body {
    background-color: #f8f9fa;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.card-title {
    display: flex;
    align-items: center;
}

.card-title .fa {
    margin-right: 10px;
}

audio {
    margin-top: 20px;
    width: 100%;
}